/* Start Variable*/
:root{
    --main-color:rgb(12, 42, 67);
    --second-color:rgb(253, 235, 77);
    --transparent-color:rgb(15 116 143 / 70%);
    --Tlnted-Holiday:rgb(143, 109, 243);
    --Client-Holiday:rgb(75, 245, 174);
    --Bank-Holiday:rgb(0, 178, 228);
    --Christmas-Holiday:rgb(237, 94, 139);
    --section-padding:100px;
}
/* End Variable*/
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--main-color);
}

ul {
    list-style: none;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small */
@media (min-width : 768px){
    .container{
        width:750px;
    }
}
/* mediam */
@media (min-width : 992px){
    .container{
        width : 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}
/* End Global Rules */
.header{
    /* background-color: blue; */
}
/* Start Header */
.header .container img{
    max-width: 200px;
    max-height: 100%;
    padding-top: 10px;
}
/* End Header */

/* Start Content */
.content .container{
    /* background-color: red; */
    text-align: center;
    color: white;
    margin-top: 35px;
    font-size: 13px;
}
@media(max-width:768px){
.content .container{
    font-size: 10px;
    /* background-color: red; */
    letter-spacing: 1px;
}
}

/* End Content */
.year-calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding: 30px;
  border:0px solid black;
  border-radius: 10px;
  margin:25px 50px 50px 50px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.678);
  /* background-color: var(--second-color); */
}
@media(max-width:767px){
    .year-calendar{
        grid-template-columns: repeat(1, 1fr);
    }

}
.month-summary {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.month-summary h3{
    color: var(--main-color);
    text-align: center;
    margin-bottom: 5px;
}
.month-summary p{
    color: black;
    /* background-color: yellow; */
    margin-bottom: 0px;
}
.month-summary span{
    letter-spacing: .5px;
    color: var(--Client-Holiday);
    border-radius: 50px;
    font-size: 18px;
    font-weight: normal !important;
    /* -webkit-text-stroke: .2px black; */
}

.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
}
.btn.submit {
  background-color: var(--second-color);
}
.btn:hover {
  opacity: 0.9;
}